body {
	margin: 0;
	padding-top: 10px;
	min-width: 800px;
}

#form {
	margin: 10px auto;
}

.wrapper {
	position:absolute;
	top:50%;
	left:50%;
}

.wrapper-bottom {
	position: relative;
}

#hintMsg:hover {
	cursor: pointer;
}

.card {
	height: 500px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#title {
	margin-top: 10px;
}

#price {
	font-size: 1.2em;
	font-weight: bold;
}

.imgWrapper {
	position: relative;
	height: 350px;
	width: 100%;
}

.imgWrapper img {
	min-height: 100%;
	max-height: 100%;
}
